.App {
  text-align: center;
}


.card { position: relative; width: 90%;  transition: all 0.5; opacity: 0.7; border: 1px solid #eee; }
.carg img { width: 1; }
.card:hover { opacity: 1; border: 1px solid black; }
.card .text {    padding: 5px; }

.projects-grid  { 
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  padding-top: 1em; 
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  padding: 0;
  margin: 5em auto;
  margin-top: 10px;
  background: #f3f3f3;
  font-family: 'Courier New';
  color: black;
}







.container{
	margin: auto;
	padding: 0px;
	max-width: 550px;
}
.logo{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
